.input {
  width: 60%;
  margin-bottom: 20px;
}
@media only screen and (min-width: 720px) {
  .input {
    width: 40%;
  }
}
.main-heading {
  margin-top: 20px;
  font-size: 34px;
  margin-bottom: 12px;
  color: salmon;
}
@media only screen and (min-width: 720px) {
  .main-heading {
    font-size: 44px;
  }
}
