.table-contain {
  width: 90%;
  border: 2px solid darkcyan;
  margin-top: 30px;
}

th {
  padding: 15px;
  text-align: center;
  color: gray;
  font-size: 9px;
}
@media only screen and (min-width: 720px) {
  th {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1220px) {
  th {
    font-size: 18px;
  }
}

td {
  text-align: center;
}

.series-title {
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 600;
}
@media only screen and (min-width: 720px) {
  .series-title {
    font-family: "Roboto";
    font-size: 16px;
  }
}
@media only screen and (min-width: 1220px) {
  .series-title {
    font-size: 22px;
  }
}

.image {
  height: 35px;
}
@media only screen and (min-width: 720px) {
  .image {
    height: 70px;
  }
}
@media only screen and (min-width: 1220px) {
  .image {
    height: 130px;
  }
}

.tag-link {
  font-size: 5px;
}
@media only screen and (min-width: 720px) {
  .tag-link {
    font-size: 9px;
  }
}

@media only screen and (min-width: 1220px) {
  .tag-link {
    font-size: 18px;
  }
}
